//colors
$Green: #99e2d0;
$Green-Font: #008766;
$Blue: #89c8fa;
$Blue-2: #003a68;
$Primary: #9356dc;
$White: #ffffff;
$Black: #101010;
$Grey: #353535;
$Secondary: #ff79da;
$tertiary: #99e2d0;
$Grey2: #eaeaea;
$Background: #f6f6f6;
//width
$max_width: 640px;
$max_width_desk: 1440px;
$card_width: 350px;
$cards_up: 70px;
$cards_up_desktop: 40px;
$button_height:50px;

//general used
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
  background-color: black; /* a enlever */
}

//initial argument: row
@mixin flex_display($value: row, $width: 100%, $margin: auto) {
  display: flex;
  flex-direction: $value;
  align-items: center;
  justify-content: center;
  width: $width; /* very important value at 100% basic */
  margin: $margin;
}
//button module
@mixin button($width: 218px, $button_height:$button_height, $margin: 27px) {
  @include font("Roboto", 16px, 500, white);
  @include flex_display;
  width: $width;
  height: $button_height;
  margin: $margin 0;
  border-radius: 25px;
  background: linear-gradient(193deg, $Primary -11.44%, $Secondary 123.93%);
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
@mixin font($name: "Roboto",$font_size: 14px,$font_weight: 500,$color: $Green-font) {
  font-family: $name;
  font-size: $font_size;
  font-weight: $font_weight;
  color: $color;
}

//main for all
.main_container {
  @include flex_display(column);
  &_add {
    max-width: $max_width;
    background-color: white;
  }
}
//header for all
.header {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #fff;
  align-items: center;
  &_href {
    margin-left: 17px;
  }
  &_title {
    display: block; /* necessary to center */
    margin: auto;
    padding-right: 60px; /* allows you to shift "ohmyfood" to the left */
    height: 34px;
  }
}

//footer for all
footer {
  @include flex_display(column);
  max-width: $max_width;
  background-color: $Grey;
  color: $White;
  align-items: flex-start;
  row-gap: 16px;
  padding: 22px 25px;
}
.footer {
  &_a {
    @include flex_display;
    justify-content: flex-start;
    gap: 11px;
    padding: 7px 0;
    &_p {
      @include font("Roboto", 16px, 400, white);
      &_max {
        @include font("Roboto", 16px, 500, white);
      }
    }
  }
  &_title {
    @include font("Shrikhand", 18px, 400, white);
  }
  
}
/* ********************************************************************* */
@media (min-width: 1080px) {
  /* adjustment from 1080px and +  */
  .main_container,
  footer {
    max-width: $max_width_desk;
  }
  .header {
    height: 70px;
  }
 

  footer {
    flex-direction: row-reverse;
    height: 114px;
    align-items: center;
    padding: 0;
    justify-content: flex-start;
    margin-bottom: auto; /* allows you to leave a space below the footer*/
  }
  /* I put widths on the elements to be able to align them perfectly as on the FIGMA model */
  .footer {
    &_title {
      display: flex;
      height: 54px;
      align-items: flex-end;
      width: 139px;
    }
    &_nav {
      display: flex;
      height: 54px;
      align-items: flex-end;
    }
    &_a {
      width: auto;
      padding: 0;
      margin: 0;
      margin-left: 7px;
      &_p {
        width: 130px;
        &_max {
          width: 168px;
        }
      }
    }
  }
}
/* ************************common decoration******************************************* */
.appeal_button:hover,
.button_command:hover {
  transition: all 0.4s cubic-bezier(0.42, 0, 0.81, 1.68);
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.44);
}
#la_palette_du_gout_heart_container_check_click,
#a_la_francaise_heart_container_check_click,
#le_delice_des_sens_heart_container_check_click,
#la_note_enchantee_heart_container_check_click {display: none;}
/* common code for the 4 hearts of the index.html page */
input:checked +label{opacity: 0;}
.heart_container{
  &_toggle_content{position: relative;}
  &1_image {
    cursor: crosshair; 
    position: absolute; 
  }
}
