
/* ********************************************************************* */
@media (min-width: 1080px) {
    /* adjustment from 1080px and + */
    .main_container,
    footer {
      max-width: $max_width_desk;
      
    }
    .main_container {
      background-color: #fff;
    }
    .banner_img {
      height: 381px;
      width: 100%;
      object-fit: cover;
      object-position: 0 58%;
    }
    .cards {
      transform: translateY(-$cards_up_desktop); /*image lift  */
      width: 1055px;
      margin-bottom: -$cards_up_desktop; /* fills the hole at the bottom left by the translate */
      background-color: $Background;
      &_content {
        justify-content: center;
        padding: 0;
        &_title {
          padding-top: 51px;
        }
        &_logo {
          padding-top: 51px;
        }
      }
    }
    .card {
      max-width: $card_desk_width;
      &_txt {
        width: $card_txt_width_desk_max;
      }
      &_toggle {
        &:checked ~ .card_content {
          width: $card_txt_width_desk_max;
          /* reduit la taille occupee par les textes pour les ...*/
        }
      }
    }
    .menu_subtitle {
      display: flex;
      position: relative;
      width: 635px;
      margin-bottom: 12px;
      &::after {
        position: absolute;
        border-bottom: 3px solid $Green;
        bottom: -10px;
      }
    }
    /* adjustmentof the position of the hearts on pages 2 to 5  */
    .heart_container {
      right: 33%;
      top: 65%;
    }
    .button_command {
      /* margin between button and footer */
      margin-bottom: 40px; 
      
    }
  }
  
  