@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.nouveau::after {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  color: #008766;
}

.how_to_infoDiv, .appeal_subtitle, .search_bar_input, .footer_a_p, .appeal_button {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  color: #101010;
}

.card_restaurant_txt_content_subtitle {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 300;
  color: #101010;
}

.card_restaurant_txt_content_title {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  color: #101010;
}

.how_to_title, .appeal_title, .restaurants_title {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  color: #101010;
}

.footer_title {
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
}

.appeal_button {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  color: #ffffff;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  margin: 27px 0;
}

.main_container, .restaurants_href, .how_to_infoDiv_div, .how_to_infoDiv, .how_to_container, .how_to, .appeal_subtitle, .appeal_title, .restaurants_title, .appeal, .search_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  max-width: 800px;
  /* background-color: $Background; */ /* permet d'effacer visuellement la marge entre le footer et.main due à la remontée
sur pages 2 a 5 */
}

header {
  width: 100%;
  height: 100px;
  display: flex;
}

.header_title {
  display: block; /* necessary to center */
  margin: auto;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  max-width: 800px;
  background-color: #353535;
  color: #ffffff;
  align-items: flex-start;
  row-gap: 16px;
  padding: 22px 25px;
}

.footer_a {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  justify-content: flex-start;
  gap: 11px;
}
.footer_a_p {
  color: #ffffff;
}
.search_bar {
  background-color: #eaeaea;
  flex-direction: row;
  -moz-column-gap: 17px;
       column-gap: 17px;
  height: 50px;
  box-shadow: 0px -1px 3px 2px rgba(0, 0, 0, 0.2);
}
.search_bar_input {
  border: none;
  background-color: #eaeaea;
  order: 2;
}
.search_bar_submit {
  display: block;
  width: 14px;
  color: transparent;
  background-image: url(../images/logo/Pin.svg);
  background-repeat: no-repeat;
  background-position: right;
  border: none;
  margin-left: 60px;
}

.appeal {
  background-color: #F6F6F6;
  padding: 39px 0;
}
.appeal_subtitle {
  color: #353535;
  margin-top: 27px;
}
.how_to {
  margin: 98px 0 48px 0;
}
.how_to_title {
  position: absolute;
  top: -50px;
  left: -13px;
}
.how_to_container {
  row-gap: 25px;
}
.how_to_infoDiv {
  flex-direction: row;
  width: 305px; /* tu peux jouer pour modifier la largeur */
  height: 72px;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  justify-content: space-evenly;
  position: relative;
}
.how_to_infoDiv_div {
  margin: 0;
  width: 24px;
  height: 24px;
  background-color: #9356dc;
  color: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
}

.restaurants {
  padding-bottom: 66px;
}
.restaurants_href {
  row-gap: 18px;
}
.restaurants_title {
  padding: 0;
  margin: 0;
  align-items: flex-start;
}

.card_restaurant {
  border-radius: 15px 15px 0 0;
}
.card_restaurant_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  padding: 16px 13px;
}
.card_restaurant_img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px 15px 0 0;
  width: 320px; /* tu peux jouer avec la taille de card ici */
}

.nouveau {
  position: relative;
}

.nouveau::after {
  content: "Nouveau";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  width: 80px;
  height: 29px;
  background-color: #99e2d0;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 15px;
  right: 15px;
}/*# sourceMappingURL=style.css.map */