@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: black; /* a enlever */
}

.main_container, .card, .cards, .banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* attention valeur tres importante à 100% de base */
  margin: auto;
}
.main_container_add {
  max-width: 640px;
  background-color: white;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #fff;
  align-items: center;
}
.header_href {
  margin-left: 17px;
}
.header_title {
  display: block; /* necessary to center */
  margin: auto;
  padding-right: 60px; /* permet de decaler "ohmyfood" vers la gauche */
  height: 34px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* attention valeur tres importante à 100% de base */
  margin: auto;
  max-width: 640px;
  background-color: #353535;
  color: #ffffff;
  align-items: flex-start;
  row-gap: 16px;
  padding: 22px 25px;
}

.footer_a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%; /* attention valeur tres importante à 100% de base */
  margin: auto;
  justify-content: flex-start;
  gap: 11px;
  padding: 7px 0;
}
.footer_a_p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.footer_a_p_max {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.footer_title {
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
  color: white;
}

/* ********************************************************************* */
@media (min-width: 1080px) {
  /* réglage à partir de 1080px et +  */
  .main_container, .card, .cards, .banner,
  footer {
    max-width: 1440px;
  }
  .header {
    height: 70px;
    z-index: 10;
  }
  footer {
    flex-direction: row-reverse;
    height: 114px;
    align-items: center;
    padding: 0;
    justify-content: flex-start;
    margin-bottom: auto; /* permet de laisser un blanc en dessous du footer */
  }
  /* j'ai mis des width sur les elements pour pouvoirles aligner parfaitement comme sur la maquettte*/
  .footer_title {
    display: flex;
    height: 54px;
    align-items: flex-end;
    width: 139px;
  }
  .footer_nav {
    display: flex;
    height: 54px;
    align-items: flex-end;
  }
  .footer_a {
    width: auto;
    padding: 0;
    margin: 0;
    margin-left: 7px;
  }
  .footer_a_p {
    width: 130px;
  }
  .footer_a_p_max {
    width: 168px;
  }
}
/* https://www.youtube.com/watch?v=u_meeb8kdgI */
.banner_img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards {
  background-color: #f6f6f6;
  transform: translateY(-70px); /* remontée d'image */
  border-radius: 40px 40px 0 0;
  padding: 0 15px;
}
.cards_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%; /* attention valeur tres importante à 100% de base */
  margin: auto;
  max-width: 341px;
  height: 29px;
  margin: 0;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-top: 32px;
  justify-content: space-between;
}
.cards_content_title {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
  color: #101010;
}

.menu_subtitle {
  width: 350px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
  margin-top: 40px;
}
.menu_subtitle::after {
  content: "";
  display: block;
  width: 40px;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 9px;
}

.card {
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  max-width: 350px; /* permet de reduire un peu plus  */
  height: 70px;
  border-radius: 15px;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  margin-top: 12px;
  padding: 15px;
}
.card_txt_title {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.card_txt_subtitle {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  color: black;
}
.card_prix {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 700;
  color: #353535;
}
.card_bottom { /* center commaand button */
  margin-bottom: 65px;
}

body {
  background-color: #101010;
}

.main_container, .banner, .cards, .card {
  background-color: #f6f6f6; /* permet d'effacer visuellement la marge entre le footer et.main due à la remontée
sur pages 2 a 5 */
  position: relative;
}

.button_command {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%; /* attention valeur tres importante à 100% de base */
  margin: auto;
  width: 186px;
  height: 50px;
  margin: 0 0;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 40px;
}

/* ********************************************************************* */
@media (min-width: 1080px) { /* réglage à partir de 1080px et +  */
  .main_container, .banner, .cards, .card, footer {
    max-width: 1440px;
  }
  .main_container, .banner, .cards, .card {
    background-color: #fff;
  }
  .banner_img {
    height: 381px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 58%;
       object-position: 0 58%;
  }
  .cards {
    transform: translateY(-40px); /* remontée d'image */
    width: 1055px;
    background-color: #f6f6f6;
  }
  .cards_content_title {
    padding-top: 51px;
  }
  .card {
    width: 635px;
  }
  .card_prix {
    align-self: flex-end;
  }
  .menu_subtitle {
    display: flex;
    position: relative;
    width: 635px;
  }
  .menu_subtitle::after {
    position: absolute;
    border-bottom: 3px solid #99e2d0;
    bottom: -10px;
  }
}/*# sourceMappingURL=style2.css.map */