@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: black; /* a enlever */
}

.main_container, .restaurants_href, .how_to_infoDiv_div, .how_to_infoDiv, .how_to_container, .how_to, .appeal_subtitle, .appeal_title, .restaurants_title, .appeal, .search_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* very important value at 100% basic */
  margin: auto;
}
.main_container_add {
  max-width: 640px;
  background-color: white;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: #fff;
  align-items: center;
}
.header_href {
  margin-left: 17px;
}
.header_title {
  display: block; /* necessary to center */
  margin: auto;
  padding-right: 60px; /* allows you to shift "ohmyfood" to the left */
  height: 34px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* very important value at 100% basic */
  margin: auto;
  max-width: 640px;
  background-color: #353535;
  color: #ffffff;
  align-items: flex-start;
  row-gap: 16px;
  padding: 22px 25px;
}

.footer_a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%; /* very important value at 100% basic */
  margin: auto;
  justify-content: flex-start;
  gap: 11px;
  padding: 7px 0;
}
.footer_a_p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.footer_a_p_max {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.footer_title {
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
  color: white;
}

/* ********************************************************************* */
@media (min-width: 1080px) {
  /* adjustment from 1080px and +  */
  .main_container, .restaurants_href, .how_to_infoDiv_div, .how_to_infoDiv, .how_to_container, .how_to, .appeal_subtitle, .appeal_title, .restaurants_title, .appeal, .search_bar,
  footer {
    max-width: 1440px;
  }
  .header {
    height: 70px;
  }
  footer {
    flex-direction: row-reverse;
    height: 114px;
    align-items: center;
    padding: 0;
    justify-content: flex-start;
    margin-bottom: auto; /* allows you to leave a space below the footer*/
  }
  /* I put widths on the elements to be able to align them perfectly as on the FIGMA model */
  .footer_title {
    display: flex;
    height: 54px;
    align-items: flex-end;
    width: 139px;
  }
  .footer_nav {
    display: flex;
    height: 54px;
    align-items: flex-end;
  }
  .footer_a {
    width: auto;
    padding: 0;
    margin: 0;
    margin-left: 7px;
  }
  .footer_a_p {
    width: 130px;
  }
  .footer_a_p_max {
    width: 168px;
  }
}
/* ************************common decoration******************************************* */
.appeal_button:hover,
.button_command:hover {
  transition: all 0.4s cubic-bezier(0.42, 0, 0.81, 1.68);
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.44);
}

#la_palette_du_gout_heart_container_check_click,
#a_la_francaise_heart_container_check_click,
#le_delice_des_sens_heart_container_check_click,
#la_note_enchantee_heart_container_check_click {
  display: none;
}

/* common code for the 4 hearts of the index.html page */
input:checked + label {
  opacity: 0;
}

.heart_container_toggle_content {
  position: relative;
}
.heart_container1_image {
  cursor: crosshair;
  position: absolute;
}

.header_href {
  visibility: hidden; /* cache la fleche */
}

.search_bar {
  background-color: #eaeaea;
  flex-direction: row;
  -moz-column-gap: 17px;
       column-gap: 17px;
  height: 50px;
  box-shadow: 0px -1px 3px 2px rgba(0, 0, 0, 0.2);
  margin: 2px;
}
.search_bar_input {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  color: #353535;
  border: none;
  background-color: #eaeaea;
  order: 2;
}
.search_bar_submit {
  display: block;
  width: 14px;
  color: transparent;
  background-image: url(../images/logo/Pin.svg);
  background-repeat: no-repeat;
  background-position: right;
  border: none;
  margin-left: 60px;
}

.appeal {
  background-color: #f6f6f6;
  padding: 39px 0;
}
.appeal_title, .restaurants_title {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  color: black;
}
.appeal_subtitle {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  margin-top: 27px;
}
.appeal_button {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%; /* very important value at 100% basic */
  margin: auto;
  width: 218px;
  height: 50px;
  margin: 27px 0;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.how_to {
  margin: 98px 0 48px 0;
}
.how_to_title {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  color: black;
  position: absolute;
  top: -50px;
  left: -13px;
}
.how_to_container {
  row-gap: 25px;
}
.how_to_infoDiv {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  color: black;
  flex-direction: row;
  max-width: 322px; /* tu peux jouer pour modifier la largeur */
  height: 72px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  justify-content: space-evenly;
  position: relative;
}
.how_to_infoDiv_div {
  margin: 0;
  width: 24px;
  height: 24px;
  background-color: #9356dc;
  color: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 0;
  transform: translateX(-50%);
}

.restaurants {
  padding-bottom: 66px;
}
.restaurants_title {
  padding: 0;
  margin: 0;
  align-items: flex-start;
  margin-bottom: 16px;
}

.card_restaurant {
  border-radius: 15px;
  box-shadow: 2px 3px 11px -1px rgba(0, 0, 0, 0.1);
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.card_restaurant_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%; /* very important value at 100% basic */
  margin: auto;
  justify-content: space-between;
  padding: 16px 13px;
  margin-bottom: 18px;
  border-radius: 0 0 15px 15px;
}
.card_restaurant_txt_content_title {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  color: black;
}
.card_restaurant_txt_content_subtitle {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 300;
  color: black;
}
.card_restaurant_img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px 15px 0 0;
  max-width: 340px; /* tu peux jouer avec la taille de card ici */
}

.nouveau::after {
  content: "Nouveau";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%; /* very important value at 100% basic */
  margin: auto;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  width: 80px;
  height: 29px;
  background-color: #99e2d0;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 15px;
  right: 15px;
}

/* *************************************************************************** */
@media (min-width: 1080px) { /* réglage à partir de 1080px et +  */
  .appeal {
    padding-bottom: 0;
    padding-top: 30px;
  }
  .appeal_title, .restaurants_title {
    flex-direction: row;
    font-size: 40px;
    -moz-column-gap: 13px;
         column-gap: 13px;
  }
  .appeal_subtitle {
    flex-direction: row;
    margin-top: 18px;
  }
  .appeal_button {
    margin: 18px 0 30px 0;
  }
  .how_to_container {
    flex-direction: row;
    -moz-column-gap: 46px;
         column-gap: 46px;
  }
  .how_to_infoDiv {
    max-width: 322px;
    height: 60px;
    margin: 0;
  }
  .restaurants {
    background-color: #f6f6f6;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr 1fr;
    -moz-column-gap: 100px;
         column-gap: 100px;
    row-gap: 50px;
    padding-bottom: 30px;
  }
  .restaurants_href {
    grid-column: 1/3;
    grid-row: 1/1;
    margin-bottom: 0;
  }
  .restaurants_title {
    font-size: 24px;
    display: block;
    margin-bottom: -26px;
  }
  .restaurants_content {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%; /* very important value at 100% basic */
    margin: auto;
  }
  .card_restaurant {
    box-shadow: 2px 3px 11px -1px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
  }
  .card_restaurant_img {
    max-width: 490px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 490px;
    height: 184px;
  }
  .card_restaurant_content {
    background-color: white;
    margin-top: -3px; /* enleve un gap */
    height: 60px;
  }
  .search_bar {
    box-shadow: unset;
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */