@import "_mainVariables.scss";/* import common datas */



.banner{
    @extend .main_container;
    &_img{
        width:100%;
        object-fit: cover;
        height: 275px; /*give the correct height because the image is too big */       
    }
}
.cards{
    background-color: $Background;
    @extend .main_container;
    transform: translateY(-$cards_up);/* image lift */
    border-radius: 40px 40px 0 0;
    padding: 0 15px;
    
    &_content{
        @include flex_display;
        justify-content: flex-start;
        padding-left: 10px;      
        padding-top:32px;
        position: relative;        
        &_title{
            @include font("Shrikhand",28px,400,$Black);           
        }
    }
                
    }
    .menu_subtitle{
       width:$card_width;
       @include font("Roboto",16px,300,black);
       text-transform: uppercase;
       margin-top: 40px;  
       &::after{
        content: "";
        display: block;
        width: 40px;
        border-bottom: 3px solid $Green;
        padding-bottom: 9px;       
        }
       }
.card{
    @extend .main_container;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    max-width: $card_width; /* allows us to reduce a little  */
    height: 70px;
    border-radius: 15px;
    box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);
    margin-top: 12px;
    padding: 15px;
    &_txt{
        width:$cards_txt_width_max;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &_title{
            @include font("Roboto",18px,500,black);
            max-width: $cards_txt_width_max;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        &_subtitle{
            @include font("Roboto",15px,300,black);
            max-width:$cards_txt_width_max;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    &_prix{
        @include font("Roboto",15px,700,$Grey);
        @include flex_display(row,auto);
        align-items: flex-end;
        height: 40px;
        margin: 0;
    }
    &_bottom{/* center command button */
        margin-bottom: 65px;
    }
 /*    &:hover{
        padding-right: $cards_left;
        transition: padding 0.4s ease-in-out;        
    }
    &:hover::after{
        content: "";
        width: 50px;
        height: 100%;
        padding: 0;
        background-color: $Green;
    }
         */
   
 
}
body{
    background-color: $Black;
}
.main_container{
    background-color: $Background; /*allows you to visually erase the margin between the footer and .main due to the rise on pages 2 to 5 */ 
    position: relative;
    max-width: $max_width;/* allows only $max_width width */
}

.button_command{
    @include button(186px,50px,0);
    position: absolute;
    bottom: 40px;
}
 /* animation display of the dishes on pages 2 to 4 */  
 .heart_container{
    top: 60%;    
    right: 5%;
 }
 @for $i from 0 through 12{
    .hidden_#{$i}{opacity: 0;}
  }
  @keyframes visibility_on {
    100%{opacity:1}
  } 
  
  @for $i from 0 through 12{
   
    .hidden_#{$i}{
      animation: visibility_on 0.3s ease-out (#{$i/2*0.1}s) forwards;
    }
  }
  

    

/* ********************************************************************* */
@media (min-width:1080px){/* adjustment from 1080px and + */
    .main_container,footer {max-width: $max_width_desk;}
    .main_container{background-color: #fff;}
    .banner_img{
        height: 381px;
        width: 100%; 
        object-fit:cover;
        object-position: 0 58% ;              
    }
    .cards{
        transform: translateY(-$cards_up_desktop);/*image lift  */
        width: 1055px;
        margin-bottom: -$cards_up_desktop;/* fills the hole at the bottom left by the translate */
        background-color: $Background;
        &_content{
            justify-content: center;
            padding: 0;
            &_title{
                padding-top: 51px;
            }
            &_logo{
                padding-top: 51px;
            }
        }
    }
    .card {
        width: 635px;
        &_prix{
            align-self: flex-end;
        }
        &_bottom{
            /* center command button */
            margin-bottom: calc($cards_up_desktop + $button_height + 40px);
            /*40px is the requested margin  */
        }
    }
    .menu_subtitle{
        display: flex;
        position: relative;
        width: 635px;
        margin-bottom: 12px;
        &::after{
            position: absolute;
            border-bottom: 3px solid $Green;
            bottom: -10px;             
        }
    }
    /* adjustmentof the position of the hearts on pages 2 to 5  */ 
    .heart_container{
        right: 33%;
        top: 65%;
     } 
    
}


