* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: black; /* a enlever */
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* very important value at 100% basic */
  margin: auto;
}
.main_container_add {
  max-width: 375px;
  background-color: white;
}

.header {
  width: 100%;
  height: 62px;
  display: flex;
  background-color: #fff;
  align-items: center;
}
.header_href {
  margin-left: 17px;
}
.header_title {
  display: block; /* necessary to center */
  margin: auto;
  padding-right: 60px; /* allows you to shift "ohmyfood" to the left */
  height: 34px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* very important value at 100% basic */
  margin: auto;
  max-width: 375px;
  background-color: #353535;
  color: #ffffff;
  align-items: flex-start;
  row-gap: 16px;
  padding: 22px 25px;
}

.footer_a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%; /* very important value at 100% basic */
  margin: auto;
  justify-content: flex-start;
  gap: 11px;
  padding: 7px 0;
}
.footer_a_p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.footer_a_p_max {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.footer_title {
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.heart_container {
  /*the container of heart can be mooved here for all pages lower than 1080px */
  position: absolute;
  top: 82%;
  right: 4%;
}

/* ********************************************************************* */
@media (min-width: 1080px) {
  /* adjustment from 1080px and +  */
  .main_container,
  footer {
    max-width: 1440px;
  }
  .header {
    height: 100px;
  }
  footer {
    flex-direction: row-reverse;
    height: 114px;
    align-items: center;
    padding: 0;
    justify-content: flex-start;
    margin-bottom: auto; /* allows you to leave a space below the footer*/
  }
  /* I put widths on the elements to be able to align them perfectly as on the FIGMA model */
  .footer_title {
    display: flex;
    height: 54px;
    align-items: flex-end;
    width: 139px;
  }
  .footer_nav {
    display: flex;
    height: 54px;
    align-items: flex-end;
  }
  .footer_a {
    width: auto;
    padding: 0;
    margin: 0;
    margin-left: 7px;
  }
  .footer_a_p {
    width: 130px;
  }
  .footer_a_p_max {
    width: 168px;
  }
}
/* ************************common decoration******************************************* */
.appeal_button:hover,
.button_command:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.44);
}

#la_palette_du_gout_heart_container_check_click,
#a_la_francaise_heart_container_check_click,
#le_delice_des_sens_heart_container_check_click,
#la_note_enchantee_heart_container_check_click {
  display: none;
}

/* common code for the 4 hearts of the index.html page */
#la_palette_du_gout_heart_container_check_click:checked + .heart_container_toggle_content,
#a_la_francaise_heart_container_check_click:checked + .heart_container_toggle_content,
#le_delice_des_sens_heart_container_check_click:checked + .heart_container_toggle_content,
#la_note_enchantee_heart_container_check_click:checked + .heart_container_toggle_content {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.heart_container {
  /*the container of heart can be move here for all pages greater than 1080px */
  top: 84%;
  right: 4%;
}
.heart_container1_image {
  cursor: pointer;
  position: absolute;
}

/* import common datas */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* very important value at 100% basic */
  margin: auto;
}
.banner_img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 275px; /*give the correct height because the image is too big */
}

.cards { /* contains card(s) */
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* very important value at 100% basic */
  margin: auto;
  transform: translateY(-70px); /* image lift */
  border-radius: 40px 40px 0 0;
}
.cards_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%; /* very important value at 100% basic */
  margin: auto;
  justify-content: flex-start;
  padding-left: 20px;
  padding-top: 32px;
  position: relative;
}
.cards_content_title {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
  color: #101010;
}

.menu_subtitle {
  width: 350px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
  margin-top: 40px;
}
.menu_subtitle::after {
  content: "";
  display: block;
  width: 40px;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 9px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* very important value at 100% basic */
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  max-width: 350px; /* allows us to reduce a little  */
  height: 70px;
  border-radius: 15px;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  margin-top: 12px;
  padding: 15px;
}
.card_style {
  padding: 0;
  position: relative;
  justify-content: flex-end;
}
.card_bottom {
  /* margin between last card and button */
  margin-bottom: 40px;
}
.card_container {
  position: relative;
  height: 70px;
  width: 100%;
  overflow: hidden;
  background: #fff;
  border-radius: 15px;
}
.card_swing {
  width: 70px;
  height: 70px;
  background-color: #fff;
  position: absolute;
  right: 0;
  z-index: 1; /* goes over the image */
  transition: transform 0.3s ease-in-out; /* swift the swinguer element */
}
.card_toggle {
  display: none;
}
.card_toggle_label { /* over others elements,can be clicked to use toggle checkbox hack */
  width: 100%;
  height: 70px;
  position: absolute;
  cursor: crosshair;
  right: 0;
  z-index: 100; /*to get over everything*/
}
.card_toggle:checked ~ .card_content {
  width: 280px; /*reduces the size of the texts for ... */
}
.card_toggle:checked ~ .card_swing {
  transform: translatex(-70px);
}
.card_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  padding: 15px;
  width: 100%;
  height: 70px;
  position: absolute;
  overflow: hidden; /*allows you to erase the radius of the swinguer to have a very clear translation*/
  transition: width 0.3s ease-in-out; /* follows the swinguer element exactly with the same properties*/
}
.card_content_title {
  background-color: #f6f6f6;
}
.card_image { /* green img behind the swinguer */
  position: absolute;
  display: block;
  height: 70px;
  width: auto;
  z-index: 0;
  top: 0;
  right: -2px;
}
.card_prix {
  align-self: flex-end;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 700;
  color: #353535;
}
.card_txt {
  display: block;
  width: 280px;
  text-overflow: ellipsis; /* for ... */
  white-space: nowrap;
  overflow: hidden;
}
.card_txt_title {
  display: block;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  color: black;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card_txt_subtitle {
  display: block;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  color: black;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

body {
  background-color: #101010; /* can be deleted */
}

.main_container {
  background-color: #f6f6f6; /*allows you to visually erase the margin between the footer and .main due to the rise on pages 2 to 5 */
  position: relative;
  max-width: 375px; /* allows only $max_width width */
}

.button_command {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%; /* very important value at 100% basic */
  margin: auto;
  width: 186px;
  height: 50px;
  margin: 0 0;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.81, 1.68);
  margin-bottom: -30px; /* move button into the gap */
}

.heart_container {
  top: 60%;
  right: 10%;
}

/* animation display of the dishes on pages 2 to 4 */
@keyframes visibility_on {
  100% {
    visibility: visible;
  }
}
.hidden_0 {
  /* opacity: 0;  opacity modifie le contexte de position et c'est la muise*/
  visibility: hidden;
  animation: visibility_on 0.2s ease-out 0s forwards;
}

.hidden_1 {
  /* opacity: 0;  opacity modifie le contexte de position et c'est la muise*/
  visibility: hidden;
  animation: visibility_on 0.2s ease-out 0.1s forwards;
}

.hidden_2 {
  /* opacity: 0;  opacity modifie le contexte de position et c'est la muise*/
  visibility: hidden;
  animation: visibility_on 0.2s ease-out 0.2s forwards;
}

.hidden_3 {
  /* opacity: 0;  opacity modifie le contexte de position et c'est la muise*/
  visibility: hidden;
  animation: visibility_on 0.2s ease-out 0.3s forwards;
}

.hidden_4 {
  /* opacity: 0;  opacity modifie le contexte de position et c'est la muise*/
  visibility: hidden;
  animation: visibility_on 0.2s ease-out 0.4s forwards;
}

.hidden_5 {
  /* opacity: 0;  opacity modifie le contexte de position et c'est la muise*/
  visibility: hidden;
  animation: visibility_on 0.2s ease-out 0.5s forwards;
}

.hidden_6 {
  /* opacity: 0;  opacity modifie le contexte de position et c'est la muise*/
  visibility: hidden;
  animation: visibility_on 0.2s ease-out 0.6s forwards;
}

.hidden_7 {
  /* opacity: 0;  opacity modifie le contexte de position et c'est la muise*/
  visibility: hidden;
  animation: visibility_on 0.2s ease-out 0.7s forwards;
}

.hidden_8 {
  /* opacity: 0;  opacity modifie le contexte de position et c'est la muise*/
  visibility: hidden;
  animation: visibility_on 0.2s ease-out 0.8s forwards;
}

.hidden_9 {
  /* opacity: 0;  opacity modifie le contexte de position et c'est la muise*/
  visibility: hidden;
  animation: visibility_on 0.2s ease-out 0.9s forwards;
}

.hidden_10 {
  /* opacity: 0;  opacity modifie le contexte de position et c'est la muise*/
  visibility: hidden;
  animation: visibility_on 0.2s ease-out 1s forwards;
}

.hidden_11 {
  /* opacity: 0;  opacity modifie le contexte de position et c'est la muise*/
  visibility: hidden;
  animation: visibility_on 0.2s ease-out 1.1s forwards;
}

.hidden_12 {
  /* opacity: 0;  opacity modifie le contexte de position et c'est la muise*/
  visibility: hidden;
  animation: visibility_on 0.2s ease-out 1.2s forwards;
}

/* import animation for the diplay of pages 2 to 4 */
/* ********************************************************************* */
@media (min-width: 1080px) {
  /* adjustment from 1080px and + */
  .main_container,
  footer {
    max-width: 1440px;
  }
  .main_container {
    background-color: #fff;
  }
  .banner_img {
    height: 381px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 58%;
       object-position: 0 58%;
  }
  .cards {
    transform: translateY(-40px); /*image lift  */
    width: 1055px;
    margin-bottom: -40px; /* fills the hole at the bottom left by the translate */
    background-color: #f6f6f6;
  }
  .cards_content {
    justify-content: center;
    padding: 0;
  }
  .cards_content_title {
    padding-top: 51px;
  }
  .cards_content_logo {
    padding-top: 51px;
  }
  .card {
    max-width: 634px;
  }
  .card_txt {
    width: 564px;
  }
  .card_toggle:checked ~ .card_content {
    width: 564px;
    /* reduit la taille occupee par les textes pour les ...*/
  }
  .menu_subtitle {
    display: flex;
    position: relative;
    width: 635px;
    margin-bottom: 12px;
  }
  .menu_subtitle::after {
    position: absolute;
    border-bottom: 3px solid #99e2d0;
    bottom: -10px;
  }
  /* adjustmentof the position of the hearts on pages 2 to 5  */
  .heart_container {
    right: 33%;
    top: 65%;
  }
  .button_command {
    /* margin between button and footer */
    margin-bottom: 40px;
  }
}
/* import media queries *//*# sourceMappingURL=style2.css.map */