* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: black; /* a enlever */
}

.main_container, .card, .cards, .banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* very important value at 100% basic */
  margin: auto;
}
.main_container_add {
  max-width: 640px;
  background-color: white;
}

.header {
  width: 100%;
  height: 62px;
  display: flex;
  background-color: #fff;
  align-items: center;
}
.header_href {
  margin-left: 17px;
}
.header_title {
  display: block; /* necessary to center */
  margin: auto;
  padding-right: 60px; /* allows you to shift "ohmyfood" to the left */
  height: 34px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* very important value at 100% basic */
  margin: auto;
  max-width: 640px;
  background-color: #353535;
  color: #ffffff;
  align-items: flex-start;
  row-gap: 16px;
  padding: 22px 25px;
}

.footer_a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%; /* very important value at 100% basic */
  margin: auto;
  justify-content: flex-start;
  gap: 11px;
  padding: 7px 0;
}
.footer_a_p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.footer_a_p_max {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.footer_title {
  font-family: "Shrikhand";
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.heart_container { /*the container of heart can be mooved here for all pages lower than 1080px */
  position: absolute;
  top: 82%;
  right: 4%;
}

/* ********************************************************************* */
@media (min-width: 1080px) {
  /* adjustment from 1080px and +  */
  .main_container, .card, .cards, .banner,
  footer {
    max-width: 1440px;
  }
  .header {
    height: 100px;
  }
  footer {
    flex-direction: row-reverse;
    height: 114px;
    align-items: center;
    padding: 0;
    justify-content: flex-start;
    margin-bottom: auto; /* allows you to leave a space below the footer*/
  }
  /* I put widths on the elements to be able to align them perfectly as on the FIGMA model */
  .footer_title {
    display: flex;
    height: 54px;
    align-items: flex-end;
    width: 139px;
  }
  .footer_nav {
    display: flex;
    height: 54px;
    align-items: flex-end;
  }
  .footer_a {
    width: auto;
    padding: 0;
    margin: 0;
    margin-left: 7px;
  }
  .footer_a_p {
    width: 130px;
  }
  .footer_a_p_max {
    width: 168px;
  }
  .heart_container { /*the container of heart can be mooved here for all pages greater than 1080px */
    top: 84%;
    right: 4%;
  }
}
/* ************************common decoration******************************************* */
.appeal_button:hover,
.button_command:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.44);
}

#la_palette_du_gout_heart_container_check_click,
#a_la_francaise_heart_container_check_click,
#le_delice_des_sens_heart_container_check_click,
#la_note_enchantee_heart_container_check_click {
  display: none;
}

/* common code for the 4 hearts of the index.html page */
input:checked + label {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.heart_container_toggle_content {
  position: relative;
}
.heart_container1_image {
  cursor: pointer;
  position: absolute;
}

.image {
  /* filter: contrast(431%); */
  /* filter: contrast(431%) drop-shadow(10px 10px 5px #000000); */
  filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.5));
  -webkit-filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.5));
}

/* import common datas */
.banner_img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 426px; /*give the correct height because the image is too big */
}

.cards {
  background-color: #f6f6f6;
  transform: translateY(-70px); /* image lift */
  border-radius: 40px 40px 0 0;
  padding: 0 15px;
}
.cards_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%; /* very important value at 100% basic */
  margin: auto;
  max-width: 341px;
  height: 29px;
  margin: 0;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-top: 32px;
  justify-content: space-between;
}
.cards_content_title {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
  color: #101010;
}

.menu_subtitle {
  width: 350px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
  margin-top: 40px;
}
.menu_subtitle::after {
  content: "";
  display: block;
  width: 40px;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 9px;
}

.card {
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  max-width: 350px; /* allows us to reduce a little more */
  height: 70px;
  border-radius: 15px;
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  margin-top: 12px;
  padding: 15px;
}
.card_txt_title {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.card_txt_subtitle {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  color: black;
}
.card_prix {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 700;
  color: #353535;
}
.card_bottom { /* center command button */
  margin-bottom: 65px;
}

body {
  background-color: #101010;
}

.main_container, .banner, .cards, .card {
  background-color: #f6f6f6; /*allows you to visually erase the margin between the footer and .main due to the rise on pages 2 to 5 */
  position: relative;
}

.button_command {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%; /* very important value at 100% basic */
  margin: auto;
  width: 186px;
  height: 50px;
  margin: 0 0;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.81, 1.68);
  position: absolute;
  bottom: 40px;
}

/* adjustment of the positon of the hearts on pages 2 to 5  */
.heart_container {
  translate: 0 4px;
}

/* ********************************************************************* */
@media (min-width: 1080px) { /* adjustment from 1080px and + */
  .main_container, .banner, .cards, .card, footer {
    max-width: 1440px;
  }
  .main_container, .banner, .cards, .card {
    background-color: #fff;
  }
  .banner_img {
    height: 381px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 58%;
       object-position: 0 58%;
  }
  .cards {
    transform: translateY(-40px); /*image lift  */
    width: 1055px;
    margin-bottom: -40px; /* fills the hole at the bottom left by the translate */
    background-color: #f6f6f6;
  }
  .cards_content {
    justify-content: center;
    -moz-column-gap: 22px;
         column-gap: 22px;
  }
  .cards_content_title {
    padding-top: 51px;
  }
  .cards_content_logo {
    padding-top: 51px;
  }
  .card {
    width: 635px;
  }
  .card_prix {
    align-self: flex-end;
  }
  .card_bottom {
    /* center command button */
    margin-bottom: 130px;
    /*40px is the requested margin  */
  }
  .menu_subtitle {
    display: flex;
    position: relative;
    width: 635px;
    margin-bottom: 12px;
  }
  .menu_subtitle::after {
    position: absolute;
    border-bottom: 3px solid #99e2d0;
    bottom: -10px;
  }
  /* adjustmentof the position of the hearts on pages 2 to 5  */
  .heart_container {
    translate: 0 28px;
  }
}/*# sourceMappingURL=style2.css.map */