@import "_mainVariables.scss";/* import common datas */



.banner{
    @extend .main_container;
    &_img{
        width:100%;
        object-fit: cover;
        height: 426px; /*give the correct height because the image is too big */       
    }
}
.cards{
    background-color: $Background;
    @extend .main_container;
    transform: translateY(-$cards_up);/* image lift */
    border-radius: 40px 40px 0 0;
    padding: 0 15px;
    
    &_content{
        @include flex_display;
        max-width: 341px;
        height: 29px;
        margin: 0;
        column-gap: 30px;
        padding-top: 32px ;
        justify-content: space-between;
        &_title{
            @include font("Shrikhand",28px,400,$Black);           
        }
    }
                
    }
    .menu_subtitle{
       width:$card_width;
       @include font("Roboto",16px,300,black);
       text-transform: uppercase;
       margin-top: 40px;  
       &::after{
        content: "";
        display: block;
        width: 40px;
        border-bottom: 3px solid $Green;
        padding-bottom: 9px;       
        }
       }

.card{
    @extend .main_container;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    max-width: $card_width; /* allows us to reduce a little more */
    height: 70px;
    border-radius: 15px;
    box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);
    margin-top: 12px;
    padding: 15px;
    &_txt{
        &_title{
            @include font("Roboto",18px,500,black);
        }
        &_subtitle{
            @include font("Roboto",15px,300,black);
        }
    }
    &_prix{
        @include font("Roboto",15px,700,$Grey);
    }
    &_bottom{/* center command button */
        margin-bottom: 65px;
    }
}
body{
    background-color: $Black;
}
.main_container{
    background-color: $Background; /*allows you to visually erase the margin between the footer and .main due to the rise on pages 2 to 5 */ 
    position: relative;
}

.button_command{
    @include button(186px,50px,0);
    position: absolute;
    bottom: 40px;
}
 /* adjustment of the positon of the hearts on pages 2 to 5  */  
 .heart_container{translate: 0 4px;}

/* ********************************************************************* */
@media (min-width:1080px){/* adjustment from 1080px and + */
    .main_container,footer {max-width: $max_width_desk;}
    .main_container{background-color: #fff;}
    .banner_img{
        height: 381px;
        width: 100%; 
        object-fit:cover;
        object-position: 0 58% ;              
    }
    .cards{
        transform: translateY(-$cards_up_desktop);/*image lift  */
        width: 1055px;
        margin-bottom: -$cards_up_desktop;/* fills the hole at the bottom left by the translate */
        background-color: $Background;
        &_content{
            justify-content: center;
            column-gap: 22px;
            &_title{
                padding-top: 51px;
            }
            &_logo{
                padding-top: 51px;
            }
        }
    }
    .card {
        width: 635px;
        &_prix{
            align-self: flex-end;
        }
        &_bottom{
            /* center command button */
            margin-bottom: calc($cards_up_desktop + $button_height + 40px);
            /*40px is the requested margin  */
        }
    }
    .menu_subtitle{
        display: flex;
        position: relative;
        width: 635px;
        margin-bottom: 12px;
        &::after{
            position: absolute;
            border-bottom: 3px solid $Green;
            bottom: -10px;             
        }
    }
    /* adjustmentof the position of the hearts on pages 2 to 5  */  
    .heart_container{translate: 0 28px;}
}



    
