@import "_mainVariables.scss";



.search_bar {
  background-color: $Grey2;
  //* @include flex_display; */ //je prefere le extend dessous car ça reduit le style.css
  @extend .main_container;
  flex-direction: row;
  column-gap: 17px;
  height: 50px;
  box-shadow: 0px -1px 3px 2px rgba(0, 0, 0, 0.2);
  &_input {
    @extend %roboto_16;
    border: none;
    background-color: $Grey2;
    order: 2;
  }
  &_submit {
    display: block;
    width: 14px;
    color: transparent;
    background-image: url(../images/logo/Pin.svg);
    background-repeat: no-repeat;
    background-position: right;
    border: none;
    margin-left: 60px;
  }
}
.appeal {
  @extend .main_container;
  background-color: $Background;
  padding: 39px 0;
  &_title {
    @extend .main_container;
    @extend %roboto_24;
  }
  &_subtitle {
    @extend .main_container;
    @extend %roboto_16;
    color: $Grey;
    margin-top: 27px;
  }
  &_button {
    @extend %button_settings;
  }
}
.how_to {
  @extend .main_container;
  margin: 98px 0 48px 0;
  &_title {    
    @extend %roboto_24;
    position: absolute; 
    top: -50px; 
    left: -13px;   
       
  }
  &_container {
    @extend .main_container;
    row-gap: 25px;
  }
  &_infoDiv {
    @extend .main_container;
    @extend %roboto_16;
    flex-direction: row;
    width: 305px;/* tu peux jouer pour modifier la largeur */
    height: 72px;
    background-color: $Background;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    justify-content: space-evenly;
    position: relative;
    &_div {
      @extend .main_container;
      margin: 0;
      width: 24px;
      height: 24px;
      background-color: $Primary;
      color: $White;
      border-radius: 50%;
      position: absolute;
      left: 0;
      transform: translateX(-50%);
    }
  }
}
.restaurants {
    padding-bottom: 66px;
    &_href{
      @extend .main_container;
      row-gap: 18px;
    }
    &_title{
      @extend .appeal_title;
      padding: 0;
      margin: 0;
      align-items: flex-start;
    }
}
.card_restaurant{
  border-radius: 15px 15px 0 0;
  &_content{
    @include flex_display(row);
    justify-content: space-between;
    padding: 16px 13px;
  }
  &_txt_content{    
    &_title{
      @extend %roboto_18_2;
    }
    &_subtitle{
      @extend %roboto_17;
    }
  }
  &_img{
    object-fit: contain;
    border-radius: 15px 15px 0 0;
    width: 320px;/* tu peux jouer avec la taille de card ici */
  }
}
.nouveau{
  position: relative;
}
.nouveau::after{
    content: "Nouveau";
    @include flex_display;
    @extend %roboto_14;
    width: 80px;
    height: 29px;
    background-color: $Green;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 15px;
    right: 15px;        

}
  
